body {
  margin: 0;
}

// Colors
$primary-color: #2631b3;

.btn {
  border: 2px solid #000;
  padding: 10px 20px;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

.btn-icon {
  vertical-align: middle;
}

.divider {
  border-bottom: 1px solid #eee;
}
